div#calendar-label-color {
	border-top: 1px solid #668cd9;
	border-bottom: 1px solid #668cd9;
	margin: 1px 2px 5px;
	color: #fff;
}

div#calendar-label-color div {
	background: #668cd9;
	border-right: 1px solid #668cd9;
	border-left: 1px solid #668cd9;
	margin: 0 -1px;
	text-align: left;
	padding: 0 0 0 3px;
	font-size: 8pt;
	overflow: hidden;
	white-space: nowrap;
	line-height: 10pt;
}

#ftcalendar-color-picker {
	width: 200px;
	height: 150px;
}

.calcolor-li {
	display: inline;
	font-size: 1px;
	line-height: 1px;
}

.calcolor-square {
	border: 1px solid;
	display: block;
	float: left;
	height: 20px;
	margin: 0 4px 4px 0;
	width: 20px;
	text-decoration: none;
}

p.submit {
	clear: both;
}