/* calendar */
#ftcalendar-div {
	margin: 0 auto;
	font-size: 10pt;
	font: small Arial,Sans-serif;
	background-color: #BBCCFF;
    border: 4px solid #BBCCFF;
	position: relative;
}

#ftcalendar-feeds {
	height: 10px;
    position: relative;
    text-align: right;
    width: 100%;
}

#ftcalendar-feeds a.ftcal-rss-icon {
	background: url("../images/feed-icon-14x14.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 14px;
    width: 14px;
	float: right;
}

#ftcalendar-feeds a.ftcal-ical-icon {
	background: url("../images/ical-feed-icon-34x14.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 14px;
    width: 34px;
	float: right;
	padding-left: 2px;
}

.tooltip {
	display:none;
	background-color:#ffa;
	border:1px solid #cc9;
	padding:3px;
	font-size:13px;
	-moz-box-shadow: 2px 2px 11px #666;
	-webkit-box-shadow: 2px 2px 11px #666;
}

#ftcalendar-nav {
	text-align: left;
	height: 30px;
}

#ftcalendar-nav #ftcalendar-prev {
	font-size: 14pt;
	font-weight: bold;
	vertical-align: middle;
}

#ftcalendar-nav #ftcalendar-current {
	font: large;
	font-weight: bold;
	margin-left: 1%;
	margin-right: 1%;
	vertical-align: middle;
}

#ftcalendar-nav #ftcalendar-current a {
	text-decoration: none;
}

#ftcalendar-nav #ftcalendar-next {
	font-size: 14pt;
	font-weight: bold;
	vertical-align: middle;
}

#ftcalendar-prev a, #ftcalendar-next a {
	text-decoration: none;
}

#ftcalendar-div #ftcalendar-types {
	display: block;
	text-align: right;
	float: right;
	vertical-align: middle;
}

#ftcalendar-types a {
	margin: 0;
	font-size: 10pt;
	line-height: 20pt;
	vertical-align: middle;
	text-decoration: none;
}

.month #ftcalendar-table, .week #ftcalendar-table, .day #ftcalendar-table {
	margin: 0px;
	padding: 0px;
	min-width: 600px;
	table-layout: fixed;
	margin: 0 auto;
	background-color: white;
	width: 100%;
}

#ftcalendar-show-support {
	font-size: 8pt;
	font-weight: normal;
	text-align: right;	
	clear: both;
}

#ftcalendar-table tr th {
	background: #E3E9FF;
	font-size: 8pt;
    font-weight: normal;
    text-align: center;
}

#ftcalendar-table tr th, #ftcalendar-table tr td {
	padding: 0;
}

#ftcalendar-table tr th#ftcalendar-headings {
	font-weight: bold;
	color: #333333;
}

.month #ftcalendar-table tr th, .month #ftcalendar-table tr td, 
	.week #ftcalendar-table tr th, .week #ftcalendar-table tr td,
	.thumb #ftcalendar-table tr th, .thumb #ftcalendar-table tr td  {
	border: 1px solid #E7E7E7;
    margin: 0;
    overflow: hidden;
    padding: 0;
    vertical-align: top;
    white-space: nowrap;
}

.month #ftcalendar-table tr th, .month #ftcalendar-table tr td, 
	.week #ftcalendar-table tr th, .week #ftcalendar-table tr td  {
    width: 14%;
    max-width: 14%;
    min-width: 85px;
}

.thumb #ftcalendar-table tr th, .thumb #ftcalendar-table tr td {
    width: 14%;
    max-width: 14%;
    min-width: 10px;
}

.month #ftcalendar-table tr td, 
	.week #ftcalendar-table tr td {
	height: 85px;
	min-height: 85px;
}

.thumb #ftcalendar-nav {
	height: 15px;
	line-height: 8pt;
}

.thumb #ftcalendar-nav #ftcalendar-prev {
	font-size: 10pt;
}

.thumb #ftcalendar-nav #ftcalendar-current {
	font-size: 8pt;
}

.thumb #ftcalendar-nav #ftcalendar-next {
	font-size: 10pt;
}

.thumb #ftcalendar-table {
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-width: 140px;
	table-layout: fixed;
	margin: 0 auto;
	background-color: white;
	position: relative;
}

.thumb #ftcalendar-table tr td {
	width: 20px;
	min-width: 20px;
	height: 20px;
	min-height: 20px;
}

#ftcalendar-table tr td.current_day {
	background: #FFF7D7;
}

#ftcalendar-table tr td.current_day .ftcalendar-event-date {
	background: #FAD163;
}

.thumb #ftcalendar-table tr td.current_day .ftcalendar-event-date {
	background: white;
}

.ftcalendar-event-date {
	background-color: #F8F9FF;
    color: #666666;
    overflow: hidden;
    padding-right: 2px;
    text-align: right;
	font-size: 8pt;
	line-height: 10pt;
}

.ftcalendar-event-date span:hover {
	cursor: pointer;
}

.thumb #ftcalendar-table tr td.ftcalendar-event-date {
    text-align: center;
	vertical-align: middle;
}

.ftcalendar-event-date a, .ftcalendar-event-date span.thumb-event {
	text-decoration: none;
    color: #666;
	display: block;
}

.thumb .ftcalendar-event-date span.thumb-event {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.thumb .ftcalendar-event-date span.unmonth {
	text-decoration: none;
	color: #666;
	font-weight: bold;
}

.thumb-event-div {
	display: none;
	border: 1px solid black;
	position: absolute;
	width: 200px;
	height: 200px;
	left: 0;
	top: 0;
	background-color: #E3E9FF;
}

.thumb-event-div .thumb-events {
	width: 100%;
	height: 90%;
	overflow: auto;
	overflow-x: hidden;
	-ms-overflow-x: hidden;
	background-color: white;
}

.thumb-event-header {
	background-color: #E3E9FF;
	position: relative;
}

.thumb-event-header .thumb-event-close {
	color: black;
    font-size: 10pt;
    position: absolute;
    right: 4px;
    top: -2px;
    vertical-align: middle;
}

.unmonth {
	background-color: #fff;
	color: #aaa;
}

.unmonth a {
	color: #aaa;
}

.ftcalendar-event-date a:hover, .ftcalendar-event-date a:hover.unmonth,
	.ftcalendar-event-date span:hover.thumb-event, .ftcalendar-event-date span:hover.unmonth {
	text-decoration: underline;
}

.ftcalendar-event-time {
	font-weight: bold;
}

.month div.ftcalendar-events-div {
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	-ms-overflow-x: hidden;
}

div.ftcalendar-event {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	margin: 1px 2px;
}

.ftcalendar-event div {
	background: #fff;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	margin: 0 -1px;
	text-align: left;
	padding: 0 0 0 3px;
	font-size: 8pt;
	overflow: hidden;
	white-space: nowrap;
	line-height: 10pt;
}

.ftcalendar-event div a {
	color: white;
	text-decoration: none;
	display: block;
}

#ftcalendar-events-table tr th, #ftcalendar-events-table tr td {
	padding: 0px;
	margin: 0px;
}

#ftcalendar-legend {
	padding-left: 10px;
	padding-top: 10px;
	font-weight: bold;
}

#ftcalendar-legend p {
	margin-bottom: 5px;
}

#ftcalendar-legend .ftcalendar-event {
	float: left;
	position: relative;
	left: auto;
	width: auto;
}

#ftcalendar-legend .ftcalendar-event div {
	padding: 0 3px;
}

.ftc-clearboth {
	clear: both;
}

.day #ftcalendar-table tr th#tz {
	width: 150px;
	padding: 0;
    border-right: 1px solid #E7E7E7;
	vertical-align: bottom;
}

.day #ftcalendar-table tr th#ftcalendar-heading {
	padding: 0;
} 

.day #ftcalendar-table tr td.ftcalendar-times {
	background-color: #F6F9FC;
    border-right: 1px solid #E7E7E7;
    color: #666666;
    font-size: 8pt;
    height: 20px;
    padding: 0 3px 0 0;
    text-align: right;
    vertical-align: top;
    width: 150px;
}

.day #ftcalendar-table tr td.ftcalendar-event {
	background-color: #fff;
	font-size: 10pt;
	height: 20px;
	padding-left: 10px;
}

div#ftcal_post_schedule {
	border: 1px solid #F96;
	background: #FFC;
	width: 100%;
	padding: 5px;
	margin: 5px;
}

div#ftcal_post_schedule span {
	display: block;
	clear: both;	
}